.fonte{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.fonte2{
  font-family: 'Work Sans', sans-serif;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0);
}

.fonte3{
  font-family: 'IBM Plex Sans', sans-serif;
}

.fonte4{
  font-family: 'Oleo Script', cursive;
  font-size: 60px;

}
.fonte5{
  font-family: 'Exo', sans-serif;
}
.fonte6{
  font-family: 'Work Sans', sans-serif;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0);
  font-size: 17px;
}
.fonte7{
  font-family: 'Lato', sans-serif;

}
.fonte8{
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  text-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
}
.fonte9{
  font-family: 'Lato', sans-serif;
}

.fonte10{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.fonte-icone{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

 .cor-titulo{
   color: white;
   text-decoration: none;
   text-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
  }

.cor-titulo:visited { color: white; }

.cor-titulo:hover { color: white;
text-decoration: none;
 }

.cor-titulo:active {
  color: white;
  text-decoration: none;
}
 .cor-titulo2{
   color: #696969;
   text-decoration: none;
   text-shadow: 2px 1px 3px rgba(0, 0, 0, 1);
  }

.cor-titulo2:visited { color: #696969 ; }

.cor-titulo2:hover { color: #696969;
text-decoration: none;
 }

.cor-titulo2:active {
  color: #696969;
  text-decoration: none;
}
.text_style{
line-height: 0.777em;
}
