<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Interservice Solu&ccedil&otildees Educacionais</title>

  <link href="https://fonts.googleapis.com/css?family=Exo|IBM+Plex+Sans|Roboto|Open+Sans|Work+Sans|Lato:900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link rel="stylesheet" href="../Arquivos Publicos/css/background.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/fontes.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/hover.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/imagens.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/carrossel.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/nav.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/rodape.css">

  <link rel="stylesheet" href="../Arquivos Publicos/css/responsividade.css">

  <link rel="icon" type="image/png" href="../Arquivos Publicos/imagens/favicon-32x32.png" sizes="32x32" />

  <link rel="stylesheet" type="text/css" href="../Arquivos Publicos/css/font-awesome.min.css">
</head>

<body class="">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark compressed">
      <div class="offset-lg-1">
        <a class="navbar-brand" href="#">
          <img src="../Arquivos Publicos/imagens/logo_interservice-03.svg" width="55" height="55" alt="">
          <span><strong>INTER</strong>SERVICE</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 130px;">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fonte2 scroll" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2 scroll" href="cursos.php">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2 scroll" href="consultoria.html">Consultoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2 scroll" href="construcao.html">Tecnologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2 scroll" href="construcao.html">Quem Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="contato.html">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid parceria">
    <div class="row">
      <h2 class="texto fonte7">Consultoria<i class="fa fa-exchange pl-2" aria-hidden="true"></i></h2>
    </div>
  </div>
  <div class="container-fluid pl-5 py-5">
    <div class="row">
        <div class="col-md-5 col-12 hover10">
            <figure><img class="img-fluid hover10 pt-5" src="../Arquivos Publicos/imagens/img_consultoria.jpg"  alt="">
            </figure>
          </div>
      <div class="col-md-6 col-12">
        <p class=" borda-azul fonte7 pl-2 mb-2 font-size">Consultoria para o setor de Orientação Educacional</p>
        <div class="text-justify fonte10">

          <p> Com larga experiência no campo de orientação educacional, realizamos formação e
            oferecemos consultoria para esse importante setor educacional. Veja abaixo alguns dos campos em que sua
            escola
            seria beneficiada.</p>
          <p> • Estruturação do setor de Orientação Educacional.</p>
          <p> • Acompanhamento da atuação do(a) Orientador(a) Educacional.</p>
          <p>• Coaching com alunos que necessitam ser estimulados adequadamente para os estudos e, consequentemente,
            para a
            vida.
            Com esse acompanhamento constante, além de melhores resultados dos alunos, o colégio alcançará a diminuição
            da
            evasão.</p>

        </div>
      </div>
      
        
      <div class="col-md-5 col-12 hover10">
        <figure><img class="img-fluid hover10 pt-5" src="../Arquivos Publicos/imagens/estudante_consultoria.jpg"  alt="">
        </figure>
      </div>
          <div class="col-md-6 col-12 pt-5">
              <p class=" borda-azul fonte7 pl-2 mb-5 font-size">Consultoria multidisciplinar para estudantes com dificuldades de
                aprendizagem</p>
              <div class="text-justify fonte10 mt-3">
                <p>Em parceria com clínicas multidisciplinares voltadas para o atendimento de crianças, jovens e adultos com
                  dificuldades emocionais, cognitivas e motoras, a Interservice auxilia os colégios neste processo. Trata-se
                  de um novo conceito de trabalho clínico, por meio da integração de diversos profissionais, de diferentes
                  áreas da Saúde e Educação.</p>
                <div class="text_style fonte10">
                  <p>• Psicologia</p>
                  <p>• Psicopedagogia</p>
                  <p>• Neuropsicologia</p>
                  <p> • Neuropsicopedagogia</p>
                  <p> • Fonoaudiologia</p>
                  <p> • Fisioterapia</p>
                  <p>• Psicomotricidade</p>
                </div>
              </div>
            </div>
        
      
  

       <div class="col-md-5 col-12 hover10 mt-md-5">
              <figure> <img class="img-fluid hover10 pt-5" src="../Arquivos Publicos/imagens/professor.jpg"  alt=""></figure>
       </div>
      <div class="col-md-6 col-12 pt-5">
        <p class=" borda-azul fonte7 pl-2 mb-2 font-size">Treinamento de professores e funcionários</p>
        <div class="text-justify fonte10">
          <p>Segue abaixo a relação de alguns dos temas que podem ser trabalhados com sua equipe.</p>
          <div class="fonte10">
            <p> • Alunos com Necessidades Especiais – O que a lei exige dos colégios?</p>
            <p> • Adaptação de provas e currículos para alunos com necessidades especiais</p>
            <p> • Trabalho em Equipe</p>
            <p> • Gestão de conflitos</p>
            <p> • Ensino Híbrido</p>
            <p> • Como aprimorar a parceria entre família e escola?</p>
            <p> • Drogas – sua escola enfrenta esse problema?</p>
            <p> • Excelência no Atendimento</p>
          </div>
          <p> Avaliamos a estrutura do colégio e, após uma reunião com o gestor, montamos um planejamento de cursos e
            palestras, que podem ser realizados de forma presencial ou virtual.</p>


        </div>
      </div>
     

      <div class="col-md-5 col-12 hover10">
        <figure> <img class="img-fluid hover10 pt-5" src="../Arquivos Publicos/imagens/juridico.jpg"  alt=""></figure>
      </div>

      <div class="col-md-6 col-12 pt-5">
        <p class=" borda-azul fonte7 pl-2 mb-2 font-size">Consultoria Jurídica</p>
        <div class="text-justify fonte10">
          <p>Com vasta experiência na área educacional, nossa equipe jurídica poderá ajudá-los em:</p>
          <p> • Elaboração do contrato de matrículas;</p>
          <p>• Questões de inadimplência;</p>
          <p> • Processos educacionais;</p>
          <p> • Processos trabalhistas.
            </p>


        </div>
      </div>
      
      <div class="col-12 pt-5 justify-content-center d-flex">
        <a href="contato.html" class="btn btn-info px-5 font-weight-bold py-3"><span class="px-4">ENTRE EM CONTATO</span></a>
      </div>

    </div>
  </div>


  
    <div class="container-fluid">
      <div class="row rodape pt-3">
        <div class="col"></div>
        <div class="col-12">
          <div class="row pb-3">
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone"
                href="index.html">Home</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone"
                href="cursos.php">Cursos</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone"
                href="construcao.html">Tecnologia</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone"
                href="consultoria.html">Consultoria</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone"
                href="contato.html">Contato</a></div>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-12">
          <div class="row d-flex justify-content-center">
            <div class="col-2"></div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="construcao.html">
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="col-12">
          <div class="">
            <p class="text-center text-white pt-2">2018 &copy; Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="../Arquivos Publicos/js/efeitos.js" charset="utf-8"></script>
</body>

</html>