<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Exo|IBM+Plex+Sans|Roboto|Open+Sans|Work+Sans|Lato:900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Arquivos Publicos/css/font-awesome.min.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/background.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/carrossel.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/fontes.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/hover.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/imagens.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/nav.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/rodape.css">
  <link rel="stylesheet" href="../Arquivos Publicos/css/responsividade.css">
  <link rel="icon" type="image/png" href="../Arquivos Publicos/imagens/favicon-32x32.png" sizes="32x32" />
  <script src="../Arquivos Publicos/js/validarDadosPorTipo.js"></script>

  <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>


  <title>Contato</title>
</head>

<body class="text-dark">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark compressed">
      <div class="offset-lg-1">

        <a class="navbar-brand" href="index.html">
          <img src="../Arquivos Publicos/imagens/logo_interservice-03.svg" width="55" height="55" alt="">
          <span><strong>INTER</strong>SERVICE</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 130px;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fonte2" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="cursos.php">CURSOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="consultoria.html">CONSULTORIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="tecnologia.html">TECNOLOGIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="quemsomos.html">QUEM SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="#">CONTATO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid contato">
    <div class="row">
      <h2 class="texto fonte7">Contato<i class="fa fa-envelope pl-2" aria-hidden="true"></i></h2>
    </div>
  </div>
  <div class="container-fluid fundo2">
    <div class="row py-5">
      <div class="col-md-8 col-lg-6 col-xl-5 col-sm-5 mx-auto">

        <form class="needs-validation" id="formRequestViaAjax">

          <div class="form-group">
            <label class="font-weight-bold h4 py-2 text-light" for="txtNome">Seu nome</label>

            <input type="text" class="form-control" id="txtNome" placeholder="Nome Sobrenome" name="txtNome" required>
            <div class="invalid-feedback text-center text-light">
              <h6><strong>Precisamos saber o seu nome, por favor preencha o campo acima.</strong></h6>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-bold h4 py-2 text-light" for="txtEmail">E-mail</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="nome@exemplo.com"
            name="txtEmail"
              required>

            <div class="invalid-feedback text-center text-light">
              <h6><strong>Por favor, informe um e-mail válido para retornarmos o contato.</strong></h6>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-bold h4 py-2 text-light" for="selectedAssunto">Assunto para o seu e-mail</label></label>

            <select class="custom-select" id="selectedAssunto" name="sltAssunto" required>
              <option value="" class="font-weight-bold">Assuntos ...</option>
              <option value="1" class="font-weight-bold">Cursos</option>
              <option value="2" class="font-weight-bold">Consultoria</option>
              <option value="3" class="font-weight-bold">Tecnologia</option>
              <option value="4" class="font-weight-bold">Outros</option>
            </select>

            <div class="invalid-feedback text-center text-light">
              <h6><strong>Por favor, selecione um assunto para o e-mail.</strong></h6>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-bold h4 py-2 text-light" for="txaMenssagem">Escreva seu e-mail aqui</label>
            <textarea class="form-control" id="txaMenssagem" name="txaMenssagem" rows="6" required></textarea>

            <div class="invalid-feedback text-center text-light">
              <h6><strong>Por favor, insira o texto do seu e-mail.</strong></h6>
            </div>
          </div>

          <div class="g-recaptcha py-2 offset-lg-3" data-sitekey="6LdTO5EUAAAAAJOm8uFQ5w18el8GlO_9qsbCEsTA"
          style="display: -webkit-inline-box;"></div>

          <div class="form-group text-center mt-5">
            <a class="btn btn-outline-dark btn-lg" id="btnValidarPreenchimento"
            onclick="FormFieldsToJsonAndSendEmail()">
              Enviar
            </a>
          </div>

          <section id="alert">
          </section>
        </form>
    </script>

        <noscript>
          <div class='alert alert-danger mt-5 text-center' role='alert'>
            <h4 class='alert-heading'>Parece que seu JavaScript está desativado!</h4>
            <hr>
            <p class='mb-0'>Para a utilização dessa página é</p>
            <p class='mb-0'>preciso <strong>ativar o javascript</strong>.</p>
          </div>
        </noscript>

      </div>
    </div>
  </div>
  <div class="section fundo3">
    <div class="container-fluid">
        <div class="col-md-8 col-lg-6 col-sm-8 col-xl-3 col-xs-8 mx-auto py-3">
          <img src="../Arquivos Publicos/imagens/logo_interservice-01.svg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
  </div>
  <div class="section">
    <div class="container-fluid">
      <div class="row rodape pt-3">
        <div class="col"></div>
        <div class="col-12">
          <div class="row pb-3">
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone" href="index.html">Home</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone" href="cursos.php">Cursos</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone" href="construcao.html">Tecnologia</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone" href="construcao.html">Consultoria</a></div>
            <div class="col-12 col-lg-2 d-flex justify-content-center"><a class="link color_icone" href="construcao.html">Contato</a></div>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-12">
          <div class="row d-flex justify-content-center">
            <div class="col-2"></div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="construcao.html">
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="col-12">
          <div class="">
            <p class="text-center text-white pt-2">2018 &copy; Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="../Arquivos Publicos/js/validarCamposObrigatorios.js"></script>
  <script src="../Arquivos Publicos/js/requestEmailComAjax.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="../Arquivos Publicos/js/efeitos.js" charset="utf-8"></script>

  <script>
    $(document).ready(function() {
        $("#formRequestViaAjax").show();
    });
  </script>

</body>

</html>
