<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Exo|IBM+Plex+Sans|Roboto|Open+Sans|Work+Sans|Lato:900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/background.css">
  <link rel="stylesheet" href="./css/carrosel.css">
  <link rel="stylesheet" href="./css/fontes.css">
  <link rel="stylesheet" href="./css/hover.css">
  <link rel="stylesheet" href="./css/imagens.css">
  <link rel="stylesheet" href="./css/nav.css">
  <link rel="stylesheet" href="./css/rodape.css">
  <link rel="stylesheet" href="./css/responsividade.css">
  <link rel="icon" type="image/png" href="./imagens/favicon-32x32.png" sizes="32x32" />

  <title>Tecnologia</title>
</head>
<body class="">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark compressed">
      <div class="offset-lg-2">
        <a class="navbar-brand" href="index.html">
          <img src="./imagens/logo_interservice-03.svg" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 130px;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fonte2" href="cursos.php">CURSOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="consultoria.html">CONSULTORIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="#">TECNOLOGIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="quemsomos.html">QUEM SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fonte2" href="contato.html">CONTATO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid tecnologia">
    <div class="row">
      <h2 class="texto fonte7">Tecnologia<i class="fa fa-laptop" aria-hidden="true"></i></h2>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center py-4 fonte7">Soluções Cognitivas</h1>
          <p class="fonte text-justify pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales volutpat tortor, nec feugiat mauris. In dui lorem, blandit eu ipsum sit amet, semper lacinia sem. Phasellus sem sapien, varius sit amet molestie vitae, varius sit amet lacus. Vivamus id accumsan urna, non feugiat nunc. Aenean nibh dolor, luctus pharetra mattis id, tristique vitae nisl. Maecenas quis ante leo. Aliquam et augue ex. Curabitur finibus ante vitae turpis pretium, scelerisque maximus mauris finibus. Pellentesque varius odio at enim accumsan cursus. Nullam id risus a arcu placerat ornare. Maecenas tincidunt odio non tincidunt viverra. In et nulla vel ligula sagittis pellentesque sed sit amet ligula. Cras mi nunc, sollicitudin a justo id, tempus laoreet risus.
          </p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center py-4 fonte7">Desenvolvimento de Aplicativos</h1>
          <p class="fonte text-justify pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales volutpat tortor, nec feugiat mauris. In dui lorem, blandit eu ipsum sit amet, semper lacinia sem. Phasellus sem sapien, varius sit amet molestie vitae, varius sit amet lacus.
          </p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center py-4 fonte7">Web Sites</h1>
          <p class="fonte text-justify pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales volutpat tortor, nec feugiat mauris.
        </div>
      </div>
    </div>
    <section class="py-5">
          <div class="row text-center">
            <div class="swing col-12 col-sm-6 col-md-6 col-lg-3">
              <img src="./imagens/robot.png" alt="" width="140" height="140">
              <h2 class="py-3">Chatbots</h2>
              <p class="fonte2">Donec sed odio dui. Etiam porta sem malesuada magna mollis eu.</p>
            </div>
            <div class="swing col-12 col-sm-6 col-md-6 col-lg-3">
              <img  src="./imagens/devices.png" alt="" width="140" height="140">
              <h2 class="py-3">Aplicativos</h2>
              <p class="fonte2">Donec sed odio dui. Etiam porta sem malesuada magna mollis eu.</p>
            </div>
            <div class="swing col-12 col-sm-6 col-md-6 col-lg-3">
              <img src="./imagens/like.png" alt="Generic placeholder image" width="140" height="140">
              <h2 class="py-3">Visibilidade</h2>
              <p class="fonte2">Donec sed odio dui. Etiam porta sem malesuada magna mollis eu.</p>
            </div>
            <div class="swing col-12 col-sm-6 col-md-6 col-lg-3">
              <img src="./imagens/web-design.png" alt="Generic placeholder image" width="140" height="140">
              <h2 class="py-3">Web design</h2>
              <p class="fonte2">Donec sed odio dui. Etiam porta sem malesuada magna mollis eu.</p>
            </div>
          </div>
        </section>
  </div>
  <div class="container-fluid">
    <div class="section">
      <div class="row rodape pt-3">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row pb-3">

            <div class="col"></div>
            <div class="col-2"><a class="link color_icone" href="index.html">Home</a></div>
            <div class="col-2"><a class="link color_icone" href="cursos.php">Cursos</a></div>
            <div class="col-2"><a class="link color_icone" href="tecnologia.html">Tecnologia</a></div>
            <div class="col-2"><a class="link color_icone" href="consultoria.html">Consultoria</a></div>
            <div class="col-2"><a class="link color_icone" href="contato.html">Contato</a></div>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-12">
          <div class="row icons justify-content-center text-center">
            <div class="col-4"></div>
            <div class="col-1">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-1">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-1">
              <div class="icon-awe px-1">
                <a class="link color_icone" href="#!">
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
        <div class="col-12">
          <div class="">
            <p class="text-center text-white pt-2">2018 &copy; Todos os direitos reservados.</p>
          </div>
        </div>
      </div>

    </div>

  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="js/efeitos.js" charset="utf-8"></script>
</body>
</html>
