.fundo{
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}
.fundo2{
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}
.fundo3{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.fundo4{
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.fundo5{
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.fundo6{
background-image: linear-gradient(to top, #ebedee 0%, #9AFF9A 100%);
}
.fundo7{
  background-image: linear-gradient(to left, #FFFF66 0%, #fdfbfb 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
   background-blend-mode: normal, lighten, soft-light;
}

.fundo8{
background-image: linear-gradient(to top, #e7f0fd 0%, #508896 100%);
}

.fundo9{
  background-image: linear-gradient(120deg, #ffffff 0%, #d7d7d7 100%);
}

.corpo{
  background-color: rgb(225, 225, 221);
}

.bg-gif{
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}

.gif-purple-loader{
  background-image: url("../imagens/purple-loading.svg");
}

#formRequestViaAjax{
  display: none;
}
